<%= link_to "All Flavors", "/flavors" %>
<%= link_to "All Shops", "/shops" %>

<h1>Flavors</h1>
<% @flavors.each do |flavor| %>
  <h3><%= link_to "#{flavor.flavor}", "/flavors/#{flavor.id}" %></h3>
  <%= link_to "Update Flavor", "/flavors/#{flavor.id}/edit" %>
<% end %>
