<a href="/shops/:shop_id/flavors">Flavors</a>
<a href="/shops">Shops</a>

<h3><%= @flavor.flavor %></h3>
<p>Shop: <%= @flavor.shop_id %></p>
<p>Nut free: <%= @flavor.nut_free %></p>
<p>Calories: <%= @flavor.calories %></p>
