<%= link_to "All Flavors", "/flavors" %>
<%= link_to "All Shops", "/shops" %>
<h1>Welcome to Ice Cream Shop Manager</h1>

<ul>
  <li><a href="/shops">Shops</a></li>
  <li><a href="/flavors">Flavors</a></li>
</ul>