<a href="/shops/:shop_id/flavors">Flavors</a>
<a href="/shops">Shops</a>
<h1>Welcome to Ice Cream Shop Manager</h1>

<ul>
  <li><a href="/shops">Shops</a></li>
  <li><a href="/shops/new">New Shop</a></li>
</ul>