# <h1> Flavors </h1>
# # <% @flavors.each do |flavor| %>
# #   <p> flavor.flavor </p>
# # <% end %>
# <% @flavors.each do |flavor| %>
#   <%= link_to flavor.flavor, "/flavors/#{flavor.id}" %>
# <% end %>